---
---
.normal_link {
    color: hsl(217, 71%, 53%);
    text-decoration: underline;
}
$primary: hsl(171, 100%, 41%);
$link: hsl(171, 100%, 41%); //#00947e;
// Import Main CSS file from theme
@import "main";