 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3037px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Roboto, sans-serif;
  margin: 69px 0 0 641px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0 641px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 12px 0 0 475px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 992px;
  margin: 16px auto 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/IMG_7876.JPG");
  min-height: 622px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-2 {
  background-image: url("images/IMG_7892.JPG");
  min-height: 604px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-3 {
  background-image: url("images/IMG_7881.JPG");
  min-height: 398px;
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 393px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 0 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 30px 62px 0 0;
}

.u-section-1 .u-image-4 {
  background-image: url("images/IMG_7897.JPG");
  min-height: 435px;
  background-position: 25.36% 77.59%;
  background-size: auto 105%;
}

.u-section-1 .u-image-5 {
  background-image: url("images/IMG_7895.JPG");
  min-height: 426px;
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 800px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 6rem;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0 163px;
}

.u-section-1 .u-text-7 {
  margin: 20px 16px 0 0;
}

.u-section-1 .u-text-8 {
  font-family: Inter;
  margin: 30px 20px 0 0;
}

.u-section-1 .u-link-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  margin: 16px auto 0;
}

.u-section-1 .u-text-9 {
  font-family: "Open Sans", sans-serif;
  margin: 30px 0 0 275px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  background-image: url("images/IMG_7888.JPG");
  min-height: 427px;
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 963px;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 20px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 30px 20px 0 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 1390px;
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 20px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 6rem;
  font-family: Roboto, sans-serif;
  margin: 20px 163px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 20px 16px 0 0;
}

.u-section-1 .u-text-14 {
  font-family: "Open Sans", sans-serif;
  margin: 30px 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3077px;
  }

  .u-section-1 .u-text-1 {
    font-family: Inter;
    margin-top: 135px;
    margin-left: 441px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 441px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 275px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 569px;
    background-position: 4.72% 50%;
  }

  .u-section-1 .u-image-2 {
    min-height: 569px;
    background-position: 48.91% 50%;
  }

  .u-section-1 .u-image-3 {
    min-height: 379px;
    background-position: 0% 0%;
    background-size: auto 110%;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
    width: auto;
    margin-right: 30px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 16px;
  }

  .u-section-1 .u-image-4 {
    min-height: 379px;
    background-position: 25.65% 98.84%;
    background-size: auto 115%;
  }

  .u-section-1 .u-image-5 {
    min-height: 569px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 722px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
    font-family: Inter;
    margin-right: 146px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 3px;
  }

  .u-section-1 .u-text-9 {
    font-family: Inter;
    width: auto;
    margin-left: 75px;
  }

  .u-section-1 .u-image-6 {
    min-height: 631px;
    background-position: 68.2% 50%;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 631px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    font-size: 3.75rem;
    margin-right: 77px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 1262px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-12 {
    font-size: 3.75rem;
    font-family: Inter;
    width: auto;
    margin-right: 88px;
  }

  .u-section-1 .u-text-14 {
    font-family: Inter;
    margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1887px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 221px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 221px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-left: 55px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 486px;
  }

  .u-section-1 .u-image-2 {
    min-height: 473px;
  }

  .u-section-1 .u-image-3 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 354px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 85px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 49px;
    width: NaNpx;
  }

  .u-section-1 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 317px;
  }

  .u-section-1 .u-image-5 {
    min-height: 415px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 544px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-1 .u-link-1 {
    position: relative;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 354px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 85px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 49px;
    width: NaNpx;
  }

  .u-section-1 .u-text-11 {
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 544px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 44px;
    width: NaNpx;
  }

  .u-section-1 .u-text-14 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1991px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 41px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-4 {
    font-size: 8rem;
    margin-right: 23px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 5px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 5px;
  }

  .u-section-1 .u-text-6 {
    font-size: 8rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 5px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-10 {
    font-size: 8rem;
    margin-right: 23px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 5px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 5px;
  }

  .u-section-1 .u-text-12 {
    font-size: 8rem;
    margin-right: 21px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1875px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1 .u-image-2 {
    min-height: 498px;
  }

  .u-section-1 .u-image-3 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 315px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 12px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 49px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-1 .u-image-4 {
    min-height: 368px;
  }

  .u-section-1 .u-image-5 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 6px;
  }

  .u-section-1 .u-image-6 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 315px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 6px;
    padding-right: 12px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 49px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 49px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 6px;
  }
}